[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/amahajani
[access "refs/for/refs/*"]
	read = group user/amahajani
	push = group user/amahajani
	label-Code-Review = -2..+2 group user/amahajani
	label-Verified = -1..+1 group user/amahajani
	rebase = group user/amahajani
	removeReviewer = group user/amahajani
	submit = group user/amahajani
[access "refs/heads/*"]
	read = group user/amahajani
	create = group user/amahajani
	push = +force group user/amahajani
	pushMerge = group user/amahajani
[access "refs/tags/*"]
	push = group user/amahajani
	push = +force group user/amahajani
